body {
  font-family: Montserrat;
}

#carousel {
  display: flex;
  align-items: center;
  position: relative;
  height: 500px;
  width: 100%;
  flex-grow: 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  background-size: contain;
}

#carousel-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}

#start-logo > img{
  position: absolute;
  top: 100px;
  left: 380px;
  width: 10%;
  height: 20%;
  opacity: 30%;
}

#start-logo > img:hover{
  position: absolute;
  top: 100px;
  left: 380px;
  width: 10%;
  height: 20%;
  opacity: 90%;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 56, 56);
}


.nav-item {
  justify-content: flex-end;
  display: inline-flex;

}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 2px;
}



#product {
  padding: 16px;
  overflow: hidden;
}

#product >h2 {
  animation-name: fadeIn;
  animation-duration: 5s;
  text-align: center;
}

#productPara{
  animation-name: slideright;
  animation-duration: 10s;

}

#productmockup {
  display: flex;
  justify-content: center;
  animation-name: slideleft;
  animation-duration: 2s;
}

.flex {
overflow: hidden;
}

#portfolio {
  background-color: rgb(56, 56, 56);
  color: white;
}

#portfolio>h1 {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 5px;
  text-align: center;
}
.projects>h1 {
font-size: 15px;
}

.projects>p {
font-size: 8px;
width: 90%;
}

.projects>button {
  width: 90%;
  background-color:teal;
  border-radius: 15px;
  color: white;
  font-family: Montserrat;
  padding: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #product {
  padding-top: 60px;
}

@keyframes slideleft {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideright {
  from {
    margin-right: 300%;
    width: 100%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}